
/*

1. General
2. Home Page

*/

/*######### General #########*/

.wrapper {
  background: #C6EAF2;
}

/*######### Home Page #########*/

.jumbotron {
  background-image: url("../images/star_trek_banner.jpg");
  background-size: cover;
  background-position: center;
  padding-top: 30%;
  padding-bottom: 10%;
  color: white;
  /*min-height: 200px;*/
  /*background: red;*/
}

.jumbotron_items {
  background: rgba(0, 0, 0, 0.5);
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 5%;
}

.btn {
  background: #1E87A6;
  color: white;
}

.content h1 {
  font-size: 36px;
  text-align: center;
}

/*.content_title {
  height: 100px;
}*/

.content_column {
  background: #0D1C23;
  height: 200px;
}

.content_column h1 {
  color: #1E87A6;
  font-size: 28px;
}

.content_column p {
  color: white;
  text-align: center;
}
